body {
  padding: 10px 10px;
  font-family: Palatino, serif;
  font-size: 18px;
  overflow: scroll;
  color: #212122;
}

a, a:visited {
  text-decoration: none;
  color: #A30600;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#links {
  width: 140px;
  position:fixed;
  right: 20px;
  top: 140px;
  font-size: 14px;
}
#links a {
  display: block;
}
#social {
  position: absolute;
  right: 190px;
  top: 45px;
}

#menu {
  width: 240px;
  position:fixed;
  left: 20px;
  top: 30px;
}

#menu .menu-entry .head {
  font-family: Tahoma, serif;
  color: black;
  border-bottom: 1px solid #444444;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}
#menu .menu-entry .subentry {
  font-size: 18px;
  text-align: right;
  margin-left: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
}
#menu ul {
  text-align: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#menu p.ops {
  margin-left: 10px;
  font-size: 16px;
  text-align: right;
  margin: 0px;
  padding: 0px;
}

#operator {
  font-size: 14px;
  margin-left: 320px;
}

#page {
  padding-left: 280px;
  padding-right: 180px;
  text-align: justify;
}
#page h2, #page h3 {
  color: black;
  border-bottom: 1px solid black;
  font-family: Tahoma, serif;
}
#page h4 {
  color: black;
  border-bottom: 1px dashed black;
  font-family: Tahoma, serif;
}
#page ul { padding-left: 20px; }

#page ul {
  list-style: square;
}
#page ul li a, #page ul li a:visited {
  
}
#page p.note {
  padding: 0px 0px 0px 30px;
  font-family: Arial, serif;
  font-size: 16px;
}

code {
  font-size: 13px;
}
pre {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
}
pre code {
  font-size: 12px;
}
code.theory {
  font-size: 14px;
}
#page pre.theory {
  width: auto;
  padding: 0px 100px 0px 30px;
  font-size: 14px;
  overflow: hidden;
}
#page pre.theory code {
  background: white;
  font-size: 14px;
}

