body {
  padding: 20px 130px;
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-size: 18px;  
}

a, a:visited {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}

h2 {
  line-height: 50px;
}

#menu {
  position: absolute;
  top: 128px;
  text-align: right;
  padding-right: 15px;
}
#menu ul {
  list-style: none;
}

#operator {
  margin-left: 300px;
}

#page {
  margin-left: 300px;
  padding-right: 30px;
  text-align: justify;
}
