body {
  padding: 10px 130px;
  font-family: Palatino, serif;
  font-size: 18px;  
}

a, a:visited {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}

#menu {
  width: 280px;
  position: absolute;
  top: 35px;
}
#menu ul {
  text-align: right;
  list-style: none;
}
#menu .links {
  padding-top: 15px;
}
#menu p.ops {
  font-size: 16px;
  /*text-align: justify;*/
}
#menu .entry {
  border-bottom: 1px solid #444444;
}

#operator {
  font-size: 14px;
  margin-left: 320px;
}

#page {
  margin-left: 320px;
  padding-right: 30px;
  text-align: justify;
}

pre {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
}
